.radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    color: #EEEEEE;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid #00ADB5;
    color: #00ADB5;
}

.radio-button__input:checked + .radio-button__label {
    color: #00ADB5;
}

.radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: #00ADB5;
    box-shadow: 0 0 10px #00ADB580;
}  

.card {
    height: auto;
    margin: 0 auto;
    padding: 3vh;
    background-color: #393E46;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 0 10px #222831;
}

.card__content {
    grid-template-areas: 
        "header"
        "boton";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__content div {
    margin-bottom: 10px;
}

.card__content h1 {
    color: #EEEEEE;
}

.botonn{
    grid-area: boton;
    display: grid;
}