#boton {
    background-color: #00ADB5;
    border: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
    transition-property: box-shadow;
}

.button-elipse {
    border-radius: 45%;
}

.button-rectangulo {
    border-radius: 0%;
}

.button-hexagono {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

#boton:hover {
    transform: scale(1.05);
    background-color: #00a3b3;
}